<template name="User_Header">
  <div class="ui top fixed borderless inverted teal menu">
    <div class="ui container">
      <div class="item"><h1>UHStudyNet</h1></div>
      <a class="{{isActiveRoute "Edit_Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Edit Profile</a>
      <a class="{{isActiveRoute "My_Profile_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">My Profile</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>