<template name="User_Header">
  <div class="ui top borderless inverted menu">
    <div class="ui container">
      <div class="item"><h1>UHStudyNet</h1></div>
      <a class="{{isActiveRoute 'Admin_Page'}} item" href="{{pathFor 'Admin_Page' username=routeUserName}}">Admin</a>
      <a class="{{isActiveRoute 'Edit_Profile_Page'}} item" href="{{pathFor 'Edit_Profile_Page' username=routeUserName}}">Edit Profile</a>
      <a class="{{isActiveRoute 'My_Profile_Page'}} item" href="{{pathFor 'Profile_Page' username=routeUserName}}">My Profile</a>
      <a class="{{isActiveRoute 'Search_Page'}} item" href="{{pathFor 'Search_Page' username=routeUserName}}">Search</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>