.ui.top.landing.menu {
  margin: 0;
}

.ui.jumbotron {
  font-family: 'Roboto', sans-serif;
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./images/study.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.ui.jumbotron.grid {
  margin: 0;
}

.landing-section-2 {
  padding: 50px;
  background-image: url(./images/sad_pug.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color:  #ffffff;
}

.landing-section-4 {
  padding: 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./images/study_grp.jpg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  color: #FFFFFF;
}


.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #002984;
  color: #ffffff;
  height: 80px;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #3f51b5;
  color: #E5F9E7;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.landing-section2-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 32px;
}